.btn-all-articles {
  margin-top: 20px;
  color: $color-accent-2;
  letter-spacing: 2.4px;
  font-size: 12px;
  line-height: 23px;
}
.uk-button-text {
  color: $color-accent-2;
}
.uk-button{
  letter-spacing: 2.4px;
}
.uk-button-primary{
  background-color: $color-accent-2;
  &:hover{
    border: 1px solid $color-accent-2;
    background-color: #fff;
    color: $color-accent-2;;
  }
}
.button-submit{
  background-color: $color-accent-2;
  color: #ffffff;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 600;
}