#footer,#navbar{
    svg {
        fill: #fff;
          &#facebook:hover {
            fill: $color-accent-2;
          }
          &#instagram:hover {
            fill: $color-instagram;
          }
          &#x:hover {
            fill: $color-x;
          }
          &#youtube:hover {
            fill: $color-youtube;
          }
      }
}
#navbar{
  svg{
    fill:$color-footer-navbar
  }
}
.share-icon{
  svg{
    &#facebook:hover {
      fill: $color-accent-2;
    }
    &#x:hover {
      fill: $color-x;
    }
  }
}

