/* Colors: */
$color-light: #ffffff;
$color-danger: #f20764;
$color-navbar: #4c4c4c;
$color-accent-1: #f3f3f3;
$color-e2e2e2: #e2e2e2;
$color-meta: #b1b1b1;
$color-footer-navbar: #939393;
$color-darkblue: #062738;
$color-blue: #00bfff;
$color-lightblue: #9ee6ff;
$color-accent-2: #2a81ac;
$color-divider-header: #202020;
$color-bullet-only: #a8b8bf;
$color-instagram: #405de6;
$color-x: #1da1f2;
$color-youtube: #ff0000;
$color-offcanvas: #051F2F;
