/* Colors: */
$color-light: #ffffff;
$color-danger: #f20764;
$color-4c4c4c: #4c4c4c;
$color-accent-1: #f3f3f3;
$color-e2e2e2: #e2e2e2;
$color-b1b1b1: #b1b1b1;
$color-939393: #939393;
$color-062738: #062738;
$color-00bfff: #00bfff;
$color-9ee6ff: #9ee6ff;
$color-accent-2: #2a81ac;
$color-202020: #202020;
