.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  min-height: 20px;
}
.uk-container-large {
  max-width: 1440px;
}
.uk-overlay-primary{
  background: rgba(5, 39, 56,.8);
}
a.uk-link-heading{
  &:hover{
    color: $color-accent-2;
  }
}