.uk-navbar-nav > li > a {
  text-transform: inherit;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  color: $color-navbar;
}
//lepka nawigacja
.navbar-container-sticky.uk-sticky.uk-active {
  background-color: #fff;
  .uk-logo {
    display: none;
  }
  .visible-sticky {
    display: block;
  }
}
