.uk-navbar-nav > li > a {
  text-transform: inherit;
  font-size: 0.9375rem;
  font-family: "Roboto", sans-serif;
  color: $color-navbar;
}
//lepka nawigacja
.navbar-container-sticky.uk-sticky.uk-active {
  #navbar-desktop{
    display: none;
  }
  hr.sticky{
    display: none;
  }
  background-color: #fff;
  .uk-logo {
    display: none;
  }
  .visible-sticky {
    display: block;
  }
}
@media (max-width: 1280px) {
  .uk-navbar-nav {
    gap: 25px;
  }
}
