#navbar{
  background-color:$color-accent-1;
}
.navbar-top {
  .uk-navbar-nav {
    font-size: 0.6875rem;
  }
}
.uk-navbar-nav {
  & > li.uk-active > a,& > li>a:hover {
    color: $color-accent-2;
    font-family: "Roboto", sans-serif;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 120%;
      height: 3px;
      bottom: -12px;
      left: -10%;
      background-color: $color-accent-2;
      animation: stretch .5s forwards;
    }
  }
}
@keyframes stretch {
  0% {
    width: 0;
  }
  100%{
    width: 120%;
  }
}
