.slider {
  a.uk-slidenav {
    background-color: $color-accent-1;
    margin: 0;
    padding: 15px 20px;
    &.uk-icon {
      color: $color-divider-header;
    }
  }
  img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top center;
  }
  // .uk-slider-items {
  //   li:not(.uk-active) {
  //     position: relative;
  //     &:before {
  //       content: "";
  //       display: block;
  //       position: absolute;
  //       background: rgba(5, 39, 56, 0.8);
  //       left: 40px;
  //       right: 0;
  //       top: 0;
  //       bottom: 0;
  //       z-index: 9999;
  //       transition: all 1s;
  //     }
  //   }
  // }
}
