.uk-tab {
  & > .uk-active {
    & > a {
      color: $color-accent-2;
      border-color: $color-accent-2;
      border-bottom: 3px solid;
    }
  }
  & > * {
    & > a {
      text-transform: none;
      color: $color-navbar;
      font-size: 15px;
      padding: 10px;
    }
  }
  &::before {
    bottom: 1px;
  }
  li{
    position: relative;
    a:hover{
      color: $color-accent-2;
      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        width: calc(100% - 20px);
        left: 20px;
        height: 3px;
        background-color: $color-accent-2;
        animation: stretchtab .5s forwards;
      }
    }
  }
}
@keyframes stretchtab {
  0% {
    width: 0;
  }
  100%{
    width: calc(100% - 20px);
  }
}

